nav {
  width: 80%;
  margin: 40px auto 0px;
  color: #fff;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #80C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

.header-nav {
  margin: 40px auto auto;
  text-align: center;
  /* background-image: url("../images/iitp_logo.png");
  background-repeat: no-repeat;
  background-size: 120px 120px;
  background-position: 350px 25px; */
}

img {
  width:120px;
  margin-left: 330px;
  margin-right: -500px;

  /* image-resolution: 120px 120px; */

}
