*, *:before, *:after {
box-sizing: border-box;
}
::selection {
background-color: #eee;
}
::-moz-selection {
background-color: #eee;
}
body {
font-size: 16px;

}

.building {
margin: 20px auto;
margin-top: 60px;
margin-bottom: 200px;
width: 100%;
max-width: 1100px;
border-radius: 5px;
background-color: #fff;
padding: 20px 10px;
box-shadow: 0px 0px 17px -4px #000;
}
.screen-side {
text-align: center;
}
.screen-side .screen {
height: 25px;
margin: 0 20px;
border-radius: 50%;
box-shadow: 0px -3px 0px 1px #ccc;
color: #ccc;
}
.screen-side .select-text {
color: #969696;
}

ol {
list-style: none;
padding: 0;
margin: 0;
}
.rooms {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
margin-left: 40px;
}
.room {
display: flex;
flex: 0 0 6%;
padding: 4px;
position: relative;
margin:2px;
}
.room:nth-child(3) {
margin-right: 6%;
}
.room:nth-child(6) {
margin-right: 6%;
}
.room:nth-child(9) {
margin-right: 6%;
}

.room input[type="checkbox"] {
position: absolute;
opacity: 0;
}
.room input[type="checkbox"]:checked + label {
background: #bada55;
-webkit-animation-name: rubberBand;
animation-name: rubberBand;
animation-duration: 300ms;
animation-fill-mode: both;
}
.room input[type="checkbox"]:disabled + label {
background: crimson;
text-indent: -9999px;
overflow: hidden;
}
.room input[type="checkbox"]:disabled + label:after {
content: "Booked";
text-indent: 0;
position: absolute;
top: 4px;
left: 50%;
transform: translate(-50%, 0%);
}
.room input[type="checkbox"]:disabled + label:hover {
box-shadow: none;
cursor: not-allowed;
}
.room label {
display: block;
position: relative;
width: 100%;
text-align: center;
font-size: 14px;
font-weight: bold;
line-height: 1.5rem;
padding: 4px 0;
color: #fff;
background: #5F9EA0;
border-radius: 2px;
animation-duration: 300ms;
animation-fill-mode: both;
transition-duration: 300ms;
}
.room:nth-child(1) label {
  background: #003c66;
}
.room:nth-child(4) label {
  background: #003c66;
}
.room:nth-child(7) label {
  background: #003c66;
}
.room:nth-child(10) label {
  background: #003c66;
}
.room label:hover {
cursor: pointer;
box-shadow: 0px 0 7px 3px #ccc;
}


@-webkit-keyframes rubberBand {
0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
30% {
  -webkit-transform: scale3d(1.25, 0.75, 1);
  transform: scale3d(1.25, 0.75, 1);
}
40% {
  -webkit-transform: scale3d(0.75, 1.25, 1);
  transform: scale3d(0.75, 1.25, 1);
}
50% {
  -webkit-transform: scale3d(1.15, 0.85, 1);
  transform: scale3d(1.15, 0.85, 1);
}
65% {
  -webkit-transform: scale3d(0.95, 1.05, 1);
  transform: scale3d(0.95, 1.05, 1);
}
75% {
  -webkit-transform: scale3d(1.05, 0.95, 1);
  transform: scale3d(1.05, 0.95, 1);
}
100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
}
@keyframes rubberBand {
0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
30% {
  -webkit-transform: scale3d(1.25, 0.75, 1);
  transform: scale3d(1.25, 0.75, 1);
}
40% {
  -webkit-transform: scale3d(0.75, 1.25, 1);
  transform: scale3d(0.75, 1.25, 1);
}
50% {
  -webkit-transform: scale3d(1.15, 0.85, 1);
  transform: scale3d(1.15, 0.85, 1);
}
65% {
  -webkit-transform: scale3d(0.95, 1.05, 1);
  transform: scale3d(0.95, 1.05, 1);
}
75% {
  -webkit-transform: scale3d(1.05, 0.95, 1);
  transform: scale3d(1.05, 0.95, 1);
}
100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
}
.rubberBand {
-webkit-animation-name: rubberBand;
animation-name: rubberBand;
}
